<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="ApianFrameworkPackageAccess" />
      <add key="ClearTextPassword" value="&#48;&#48;&#56;&#50;&#56;&#101;&#54;&#56;&#52;&#48;&#97;&#100;&#102;&#99;&#98;&#57;&#97;&#54;&#48;&#54;&#101;&#102;&#48;&#52;&#49;&#97;&#57;&#57;&#49;&#57;&#53;&#101;&#99;&#99;&#53;&#97;&#54;&#51;&#55;&#54;" />
    </github>
  </packageSourceCredentials>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/Apian-Framework/index.json" />
  </packageSources>
</configuration>
